extends includes/layout

block content
    .container.text-center
        a(href='newcard')
            button(type='button') New Card
        a(href='organizer')
            button(type='button') Organizer
        a(href='diagrams')
            button(type='button') Diagrams
