extends includes/layout

block content
    main.container-fluid(role='main')
        .jumbotron
            h2.text-center Organizer Page
            hr

            p There will be some things that the organizer can do here...

            p #{info}