body {
  padding: 50px;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


p{
	font-size: 15px;
	color: #09172d;
}

#r1{
	text-align: center;
	border-radius: 10px;
    border: 2px solid #5277b2;
    padding: 20px;
    width: 200px;
    height: 10px;
}

#comment{
  text-align:center;
  border: 2px solid #5277b2;
}

div.center{
	text-align: center;
}

div.cardborder{
  border-radius: 10px;
    border: 2px solid #5277b2;
    padding: 20px;
    box-shadow: 4px 9px #5277b2;
}

/*two column action*/
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    /*height: 300px;  Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}